:root{
    --color-black: black;
    --color2: #e8e8e8;
    --color3: #f0b1d0;
}
body{
    background-color: var(--color-black);
}
.content-portfolio{
    background-color: var(--color3);
}
.sub-content{
    background-color: var(--color2);
}
.sub-content-two{
    background-color: var(--color-black);
    color: var(--color2);
}

.nav{
    background-color: var(--color3);
}
.nav-link{
    margin: 15px 80px 15px 80px;
    font-weight: bold;
    color: var(--color-black);
    font-size:24px ;
}
.nav-link:hover{
    font-weight: bold;
    color: var(--color2);
    font-size:24px ;
}