:root{
    --color-black: black;
    --color-white: white;
    --color2: #e8e8e8;
    --color3: #f0b1d0;
}
/*FUENTES*/
@font-face {
    font-family: poppins-bold;
    src: url('/fonts/poppins-bold.ttf');
}
/*CUERPO DE LA PAGINA*/
html{
    scroll-behavior: smooth;
}
body{
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
    background-color: var(--color-black);
 }
title{
    color: var(--color2);
}
h1{
    font-family: 'poppins-bold';
    padding-bottom: 40px;
}
a{
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
}
button{
    border: 0px;
    padding: 10px 15px 10px 15px;
    background-color: var(--color3);
    transition: 0.5s;
}

button:hover{
    color:var(--color-black);
    background-color: var(--color2);
}
::-webkit-scrollbar{
    border: 0px;
    width: 0px;
    scroll-behavior: inherit;
    scroll-behavior: initial;
    scroll-behavior: unset;
}
.carrousel{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* .gallery{
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 40rem), 1fr));
} */

.row{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
img{
    width: 40rem;
    height: 58.6rem;
    padding: 0px 0px 0px 0px;
    object-fit: cover;
}

/* img:hover{
    transform: scale(1.1);
} */
/* footer{
    width: 900px;
    height: 969px;
}
*/

/*******************************************/
#noticias .container{
    position: relative;
}
#btnBlancoNegro{
    position: absolute;
    right: 0;
    cursor: pointer;
}
#fondo-oscuro{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 2000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color2);
}
#fondo-oscuro img{
    width: 25%;
    height: auto;
}
#cards-productos .card-img-top{
    padding: 30px;
}
.btnVistaPrevia{
cursor: pointer;
}
/*APARTADO DE FADEIN DE LAS WEB*/
/*****************************************************/
#redes{
    background-color: var(--color4);
    color: var(--color-blanco);
}
#redes figure{
    position: relative;
} 
#redes figure figcaption{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
#redes figure figcaption div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#redes figure figcaption div i{
    cursor: pointer;
}
/*****************************************************/
#bran{
    background-color: var(--color4);
    color: var(--color-blanco);
}
#bran figure{
    position: relative;
} 
#bran figure figcaption{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
#bran figure figcaption div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#bran figure figcaption div i{
    cursor: pointer;
}
/*****************************************************/
#alex{
    background-color: var(--color4);
    color: var(--color-blanco);
}
#alex figure{
    position: relative;
} 
#alex figure figcaption{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
#alex figure figcaption div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#alex figure figcaption div i{
    cursor: pointer;
}
/*************************************************************/

footer{
    background-color: var(--color-black);
}
.main-text-footer{
    padding-bottom: 5px;
    color: var(--color-white);
    font-family: poppins-medium;
    font-size: 20px;
}
.bi{
    float: right;
    font-size: 25px;
    padding-right: 15px;
    color: var(--color-white);
}
.bi:hover{
    padding-bottom: 50px;
    color: var(--color3);
}

/*********************************/
.title-empezar{
    color: var(--color2);
}
span{
    color: var(--color3);
}

.ofrecemos{
    border: 1px solid white;
    color: var(--color-white)
}
.text-ofrecemos{
    color: var(--color-white);
}
.boton-ofrecemos{
    background-color:var(--color-white);
    box-shadow: 5px 5px  var(--color3);
    border-radius: 5px;
    padding: 0px 50px 0px 50px;
}
.boton-ofrecemos p{
    font-size: 20px;
    margin: 5px 0px 5px 0px;
    font-weight: bold;
}

.boton-ofrecemos:hover{
    transform: scale(1.1);
}

.boton-ofrecemos::before{
    transition: 0.3s;
    margin: 10px 10px 10px 10px;
}




