:root{
    --color-black: black;
    --color-white: white;
    --color-smoke: #515151;
    --color2: #e8e8e8;
    --color3: #f0b1d0;
}
/*FUENTES*/
@font-face {
    font-family: poppins-italic;
    src: url('/fonts/poppins-italic.ttf');
}
@font-face {
    font-family: poppins-medium;
    src: url('/fonts/poppins-medium.ttf');
}
@font-face {
    font-family: poppins-bold;
    src: url('/fonts/poppins-bold.ttf');
}
@font-face {
    font-family: poppins-blackitalic;
    src: url('/fonts/poppins-blackitalic.ttf');
}
@font-face {
    font-family: poppins-extrabolditalic;
    src: url('/fonts/poppins-extrabolditalic.ttf');
}
@font-face {
    font-family: poppins-bolditalic;
    src: url('/fonts/poppins-bolditalic.ttf');
}
/*CUERPO DE LA PAGINA*/
html{
    scroll-behavior: smooth;
}
body{
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
    background-color: var(--color-black);
 }
title{
    color: var(--color2);
}
h1{
    font-family: 'poppins-bold';
    padding-bottom: 40px;
}
h3{
    margin: 10px 0px 10px 0px;
}
h4{
    margin: 0px 0px 0px 0px; 
}
a{
    color: inherit;
    text-decoration: none;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
}
a:hover{
    color:var(--color3) ;
    transition: 0.5s;
}
p:hover{
    color:var(--color3) ;
    transition: 0.5s;
}
button{
    border: 0px;
    padding: 10px 15px 10px 15px;
    background-color: var(--color3);
    transition: 0.5s;
}

button:hover{
    color:var(--color-black);
    background-color: var(--color2);
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/img/loading.gif') 50% 50% no-repeat rgb(0,0,0.5);
    opacity: .8;
}

.padding{
    padding-top: 60px;
    padding-bottom: 60px;
}
.padding-2{
    padding-top: 30px;
    padding-bottom: 30px;
}
.padding-3{
    padding-top: 20px;
    padding-bottom: 50px;
}
.padding-4{
    padding-bottom: 30px;
}
.padding-5{
    padding-bottom: 10px;
}
.padding-6{
    padding-top: 60px;
    padding-bottom: 120px;
}
::-webkit-scrollbar{
    border: 0px;
    width: 0px;
    scroll-behavior: inherit;
    scroll-behavior: initial;
    scroll-behavior: unset;
}
.carrousel{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* .gallery{
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 40rem), 1fr));
} */

.row{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
/* img{
    width: 40rem;
    height: 58.6rem;
    padding: 0px 0px 0px 0px;
    object-fit: cover;
} */

/* img:hover{
    transform: scale(1.1);
} */
/* footer{
    width: 900px;
    height: 969px;
}
*/

/*******************************************/
#noticias .container{
    position: relative;
}
#btnBlancoNegro{
    position: absolute;
    right: 0;
    cursor: pointer;
}
#fondo-oscuro{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 2000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color2);
}
#fondo-oscuro img{
    width: 25%;
    height: auto;
}
#cards-productos .card-img-top{
    padding: 30px;
}
.btnVistaPrevia{
cursor: pointer;
}
/*APARTADO DE FADEIN DE LAS WEB*/
/*****************************************************/
#redes{
    background-color: var(--color4);
    color: var(--color-blanco);
}
#redes figure{
    position: relative;
} 
#redes figure figcaption{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
#redes figure figcaption div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#redes figure figcaption div i{
    cursor: pointer;
}
/*****************************************************/
#bran{
    background-color: var(--color4);
    color: var(--color-blanco);
}
#bran figure{
    position: relative;
} 
#bran figure figcaption{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
#bran figure figcaption div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#bran figure figcaption div i{
    cursor: pointer;
}
/*****************************************************/
#alex{
    background-color: var(--color4);
    color: var(--color-blanco);
}
#alex figure{
    position: relative;
} 
#alex figure figcaption{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
#alex figure figcaption div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#alex figure figcaption div i{
    cursor: pointer;
}

/*************************************************************/

#alex-mobile{
    background-color: var(--color4);
    color: var(--color-blanco);
}
#alex-mobile figure{
    position: relative;
} 
#alex-mobile figure figcaption{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
#alex-mobile figure figcaption div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#alex-mobile figure figcaption div i{
    cursor: pointer;
}
/*************************************************************/

footer{
    border-top: 1px solid var(--color-white);
    background-color: var(--color-black);
}
.main-text-footer{
    padding-top: 10px;
    padding-bottom: 5px;
}
.main-text-footer a{
    color: var(--color-white);
    font-size: 15px;
    font-weight: bold;
    font-family: poppins-medium;
}

.bi{
    float: right;
    font-size: 25px;
    padding-right: 15px;
    color: var(--color-white);
}
.bi:hover{
    color: var(--color3);
}

/*********************************/
.title-empezar{
    color: var(--color2);
    font-family:poppins-blackitalic;
}
span{
    color: var(--color3);
}
.ofrecemos{
    padding: 20px 0px 20px 0px;
    border: 1px solid white;
    color: var(--color-white)
}
.text-ofrecemos{
    color: var(--color-white);
}
.boton-ofrecemos{
    border: 2px solid var(--color-black);
    background-color:var(--color-white);
    box-shadow: 5px 5px  var(--color3);
    border-radius: 5px;
    padding: 0px 50px 0px 50px;
}
.boton-ofrecemos p{
    color: var(--color-black);
    font-size: 20px;
    margin: 5px 0px 5px 0px;
    font-weight: bold;
}

.boton-ofrecemos:hover{
    transform: scale(1.1);
}

.boton-ofrecemos::before{
    transition: 0.3s;
    margin: 10px 10px 10px 10px;
}

#guie{
    color: var(--color-black);
    font-weight: bold;
}
.number{
    background-color: var(--color3);
    margin-left: 180px;
    margin-right: 180px;
    border-radius: 10px;
}
.number-prefieres{
    margin: 0 auto;
    right: 50%;
}

#prefieres{
    background-color: var(--color-white);
}
#prefieres h2{
    font-family:poppins-italic;
}
#guie{
    
    font-family: poppins-bolditalic;
}
.title-prefieres{
    font-family: poppins-bolditalic;
}
#boton-consulta{
    color: var(--color-black);
    padding: 0px 180px 0px 180px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 13px;
}
#boton-consulta:hover{
    transform: scale(1.1);
}

#logo-final img{
    width: 18%;
}





.overlay {
	position: fixed;
	bottom: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
    border-bottom:2px solid var(--color-black);
    border-left:2px solid var(--color-black);
    border-right:2px solid var(--color-black);
    margin: 0px 70px 100px 0px;
	background: #F8F8F8;
    box-shadow: 8px 8px  var(--color3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}
#contacto-modal{
    border-bottom: 2px solid var(--color-black);
    border-top:2px solid var(--color-black) ;
}

#icono-logo-modal{
    margin: 30px 0px 0px 35px;
    height: 100px;
}
.separador img{
    width: 30px;
    height: 156px;
}
.separador{
    margin-top: 10px;
    width: 30px;
}
.mensaje-input{
    padding-top: 15px;
}
.mensaje-input p{
    font-family: poppins-extrabolditalic;
}
#title-modal-info{
    font-family:poppins-extrabolditalic;
    padding-bottom: 10px;
}
#contacto-modal{
    padding-left: 20px;
}
.popup .btn-cerrar-popup {
    border-left: 2px solid var(--color-black);
    padding: 4px;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    display: block;
    float: right;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
    border: 0px ;
	width: 390px;
	margin-bottom: 20px;
    /* margin-right: 50px; */
	height: 100px;
	font-size: 18px;
    background-color: #BBBBBB;
}
.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 0s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}