:root{
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-smoke: #515151;
    --color1:#f5f5f5;
    --color2: #e8e8e8;
    --color3: #f0b1d0;
    --color4: #e0caa3;
    --color5: #e7e7e7;

}
html {
    scroll-behavior: smooth;
  }
::-webkit-scrollbar{
    border: 0px;
    width: 0px;
    scroll-behavior: inherit;
    scroll-behavior: initial;
    scroll-behavior: unset;
}
@font-face {
    font-family: poppins-semibold;
    src: url('/fonts/poppins-semibold.ttf');
}
@font-face {
    font-family: poppins-light;
    src: url('/fonts/poppins-light.ttf');
}
@font-face {
    font-family: poppins-medium;
    src: url('/fonts/poppins-medium.ttf');
}
@font-face {
    font-family: poppins-bold;
    src: url('/fonts/poppins-bold.ttf');
}
@font-face {
    font-family: poppins-italic;
    src: url('/fonts/poppins-italic.ttf');
}
@font-face {
    font-family: poppins-extrabolditalic;
    src: url('/fonts/poppins-extrabolditalic.ttf');
}
@font-face {
    font-family: poppins-bolditalic;
    src: url('/fonts/poppins-bolditalic.ttf');
}

/*PADDING*/
.padding{
    padding-top: 90px;
    padding-bottom: 90px;
}
/*PADDING-END*/

/*ALEX SECCION*/
#alex{
    background-color: var(--color-black);
    
}
#alex img{
    width: 75%;
}
#alex h1{
    color: var(--color-white);
}
#alex p{
    color: var(--color-white);
}
.text-alex{
    margin-top: 100px;
}
.subtitle-alex p{
    width: 79%;
    font-size: 184%;
    padding-top: 100px;
}
.boton-formu button{
    background-color: var(--color4);
    border-radius: 10px;
    width: 15%;
}
.boton-formu button a{
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
    transition: 0.5s;
}
.boton-formu button a:hover{
    transition: 0.5s;
    color: var(--color-white);
    font-weight: bold;
}
/*ALEX SECCION - END*/
/*INSPIRACIÓN*/
.title-insp{
    border: 6px solid var(--color4);
    margin: 3% 6% 0px 6%;
    padding: 2% 0px 2% 0px;
}
.title-insp h1{
    font-family:poppins-italic;
    font-weight: 900;
}
.name-alex{
    border: 6px solid var(--color-white );
    background-color: var(--color-white);
    margin: 2% 0px 0px 40%;
    padding: 0px 100px 0px 100px;
    position: absolute;
}
.name-alex h4{
    font-family: poppins-light;
    font-size: 22px;
    letter-spacing: 2px;
}

/*INSPIRACIÓN -- END*/
/*VIDEO*/
.color-video{
    background-color: rgba(224, 202, 163, 0.1);
    padding: 0px;
}
iframe{
    width: 90%;
}
.color-video{
    margin: 0px;
    padding: 0px;
}
.title-video h1{
    font-family:poppins-italic;
    font-weight: 900;
}
/*VIDEO - END*/
/*FORMULARIO*/
.texto-boton-env{
    font-size: 17px;
    font-family: poppins-semibold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#formulario h1{
    margin-bottom: 30px;
}
/* .btn-enviar-form{
    border: 2px solid var(--color-black);
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
} */
.form-group button{
    margin-top: 15px;
    border: 1px solid var(--color-black);
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    background-color: var(--color-white);
}
.form-group button p{
    color: var(--color-black);
}
.form-control{
    border: 0px;
    background-color: var(--color1);
    margin-top: 10px;
    margin-bottom: 10px;
}
.img-form img{
    width: 35%;
    margin-top: 30%;
    margin-left: 25%;
}
.captcha{
    padding-top: 10px;
}
.escribenos-formulario{
    font-size: 25px;
}
/*FORMULARIO - END*/
/*FOOTER*/
footer{
    border-top: 1px solid var(--color-white);
    background-color: var(--color-black);
}
.main-text-footer{
    border-top: 1px solid var(--color-black);
    padding-top: 15px;
    padding-bottom: 5px;
    color: var(--color-white);
    font-family: poppins-medium;
    font-size: 15px;
}
.bi{
    float: right;
    font-size: 25px;
    padding-right: 15px;
    color: var(--color-white);
}
.bi:hover{
    color: var(--color3);
}
/*FOOTER -END */

.navbar .navbar-nav .nav-item{
    position: relative;
}
.navbar .navbar-nav .nav-item::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: var(--color3);
    width: 0%;
    height: 2px;
}
.navbar .navbar-nav .nav-item:hover::after{
    width: 100%;
}
.navbar{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-white);
    background-color: var(--color-black) !important;
}
.nav-item a{
    font-family:poppins-medium;
    color: var(--color2);
}
.nav-link{
    color: var(--color-black);
    font-size:15px ;
    font-style:italic;
}
#active{
    color: var(--color3);
}
.navbar-brand{
    padding-right: 70px;
}
.nav-link:hover{
    color: var(--color3);
    font-size:15px ;
}
.nav-link:active{
    color: var(--color3) !important;
}
.logo-web img{
    margin-top: -10px;
}
.boton-offcanvas{
    border: 0px;
    background: none;
}
.boton-offcanvas span i{
    color: var(--color-white);
}
.navbar{
    background-color: var(--color-black) !important;
}
.nav-item a{
    font-family:poppins-medium;
    color: var(--color2);
}
.color-a-offcanvas a{
    color: var(--color-black);
}
.nav-link{
    color: var(--color-black);
    font-size:15px ;
    font-style:italic;
}
.sepa{
    padding-left: 120px;
    padding-top: 20px;
}
.sepa-one{
    padding-left: 70px;
    padding-top: 20px;
}

.navbar-brand{
    padding-top: 0px;
    padding-right: 70px;
}
.nav-link:hover{
    color: var(--color3);
    font-size:15px ;
}
.nav-link:active{
    color: var(--color3) !important;
}