:root{
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-smoke: #515151;
    --color2: #e8e8e8;
    --color3: #f0b1d0;
}
@media (max-width:2560px){
    .navbar-nav-offcanvas{
        display: none;
    }
    .offcanvar-mobile{
        display: none;
    }
    .images-info-mobile{
        display: none;
    }
    #info-branding-mobile{
        display: none;
    }
    #logo-mobile{
        display: none;
    }
}
@media (max-width:1920px){
    .navbar-nav-offcanvas{
        display: none;
    }
    .offcanvar-mobile{
        display: none;
    }
    #glide-mobile-arrows{
        display: none;
    }

}
@media(max-width:1440px){
    .glide__slide img{
        width: 43.5rem;
        padding-top:0px;
        padding-bottom: 50px;
    }
    .glide__arrows{
        display: none;
    }
    .title-port-sub {
        margin-left: 39px;
        margin-right: 510px;
    }
}
@media(max-width:992px){
    .offcanvar-mobile{
        display: block;
    }
    .navbar-nav-offcanvas{
        display: block;
    }
    .offcanvas{
        max-width: 76%;
    }
    .offcanvas-body .sepa{
        padding: 0px;
    }
    .offcanvas-backdrop.show {
        opacity: .6;
    }
    .navbar-brand {
        padding-top: 20px;
        padding-right: 0px;
    }
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*INFO BRANDING*/
@media (max-width:1440px){
    #info-branding{
        margin: 136px 0px 136px 0px;
    }
    .images-info img {
        width: 60%;
    }
}

@media (max-width:1024px){
    #info-branding{
        margin: 0px 0px 100px 0px;
    }
    .info-branding-title h4{
        margin-bottom: 0px;
        text-align: center;
    }
    .info-branding-title p{
        text-align: center;
        margin: 0px 18px 0px 18px;
    }
    .gif-title-branding img{
        width: 60%;
        margin-top: 50px;
    }
    .glide__slide img{
    width: 29.5rem;
    padding-top: 0px;
    padding-bottom: 50px;
    margin: 0px;
    }
    .title-port-sub {
        margin-left: 19px;
        margin-right: 300px;
    }
    #investigacion{
        background-image: url(/img/images-info-branding/1.png);
        background-repeat: no-repeat;
        background-size: 33%;
        background-position: 70%;
        padding-top:57px ;
    }
    #investigacion h2{
        padding-bottom: 40px;

    }
    #conclusiones h2{
        padding-top: 0px;
    }
    #implementacion{
        background-image: url(/img/images-info-branding/3.png);
        background-repeat: no-repeat;
        background-size: 48%;
        background-position: 80%;
        padding-top:53px;
    }
    #implementacion p{
        padding-top: 30px;
    }
    #implementacion h2{
        padding-top:10px
    }

    #conclusiones {
        /* margin-right: 86px; */
        background-image: url(/img/images-info-branding/2.png);
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: 74%;
        padding-top: 20px;

    }
    .images-info img {
        width: 90%;
    }
    .images-info-mobile{
        display: block;
    }
    #info-branding-mobile{
        display: block;
    }
    .images-info{
        display: none;
    }
    #info-branding{
        display: none;
    }
    .btn-abrir-popup{
        display: none;
    }
    .info-branding-title {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .footer-text {
        margin-bottom: 10px;
    }
}
@media (max-width:768px){
    #logo-web{
        display: none;
    }
    #logo-mobile{
        display: block;
    }
    #logo-mobile img{
        width: 10%;
        float: right;
         margin-top: -62px;
    }
    .title-port-sub {
        margin-left: 8px;
        margin-right: 530px;
    }
    .glide__slide img {
        width: 48.5rem;
    }
    .gif-title-branding img {
        width: 90%;
        margin-top: 50px;
    }
    #glide-mobile-arrows{
        display: block;
    }
    .glide__arrows{
        display: none;
    }
    .glide__arrow {
        top: 40%;
        margin: 0px;
    }
    #investigacion{
        background-image: url(/img/images-info-branding/1.png);
        background-repeat: no-repeat;
        background-size: 33%;
        background-position: 70%;
        padding-top:57px ;
    }
    #investigacion h2{
        padding-bottom: 40px;

    }
    #conclusiones h2{
        padding-top: 0px;
    }
    #implementacion{
        background-image: url(/img/images-info-branding/3.png);
        background-repeat: no-repeat;
        background-size: 48%;
        background-position: 80%;
        padding-top:53px;
    }
    #implementacion p{
        padding-top: 30px;
    }
    #implementacion h2{
        padding-top:10px
    }

    #conclusiones {
        /* margin-right: 86px; */
        background-image: url(/img/images-info-branding/2.png);
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: 74%;
        padding-top: 20px;

    }
    .images-info img {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .images-info-mobile{
        display: block;
    }
    #info-branding-mobile{
        display: block;
    }
    .images-info{
        display: none;
    }
    #info-branding{
        display: none;
    }
    .glide__arrow{
        position: absolute;
        display: block;
        top: 41%;
        z-index: 2;
        color: var(--color-white);
        text-transform: uppercase;
        padding: 10px 5px;
        /* background-color: transparent; */
        border: 0px solid rgba(255,255,255,0.5);
        /* border-radius: 4px; */
        box-shadow: 0 0.25em 0.5em 0rgba(0,0,0,0.1);
        text-shadow: 0 0.25em 0.5emrgba(0,0,0,0.1);
        opacity: 1;
        cursor: pointer;
        transition: opacity 150ms ease, border 300ms ease-in-out;
        /* transform: translateY(-50%); */
        /* line-height: 1; */
    }
    .info-branding-title {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
}

@media(max-width:425px){
    .glide__slide img {
        width: 26.5rem
    }
    #info-branding{
        display: none;
    }
    #logo-mobile img {
        width: 17%;
        float: right;
        margin-top: -57px;
    }
    .info-branding-title {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .title-port-sub {
        margin-left: 15px;
        margin-right: 210px;
    }
    .navbar-brand {
        padding-top: 5px;
    }
    .images-info{
        display: none;
    }
    #investigacion{
        background-image: url(/img/images-info-branding/1.png);
        background-repeat: no-repeat;
        background-size: 12%;
        background-position: 83%;
        padding-top:15px ;
    }
    #investigacion p{
        padding-top: 0px;
        text-align: center;
    }
    #investigacion h2{
        text-align: center;
        padding-bottom: 0px;

    }
    #conclusiones h2{
        text-align: center;
        padding-top: 0px;
    }
    #conclusiones p{
        padding-top: 0px;
        text-align: center;
    }
    #implementacion{
        background-image: url(/img/images-info-branding/3.png);
        background-repeat: no-repeat;
        background-size: 18%;
        background-position: 83%;
        padding-top:53px;
    }
    #implementacion p{
        padding-top: 0px;
        text-align: center;
    }
    #implementacion h2{
        text-align: center;
        padding-top: 0px;
    }
    #conclusiones {
        /* margin-right: 86px; */
        background-image: url(/img/images-info-branding/2.png);
        background-repeat: no-repeat;
        background-size: 18%;
        background-position: 83%;
        padding-top: 20px;
    }
    #boton-consulta {
        padding: 6px 50px 6px 50px;
    }
    .row h2 {
        padding-bottom: 0px;
    }
    .images-info-mobile img {
        margin-top: -39px;
        margin-bottom: 50px;
    }
    .padding-2 {
        padding-top: 55px;
    }
}
@media(max-width:425px){
    .glide__slide img {
        width: 100.5%;
        }
    #urimare-square img{
        content: url(/img/square-photos/urimare-square.png);
        }
    #thc-square img{
        content: url(/img/square-photos/portada-rhc-square.png);
        }
    #cast-square img{
        content: url(/img/square-photos/cast-square.png);
        }
    #naito-square img{
        content: url(/img/square-photos/naito-square.png);
        }
    #ohmiodio-square img{
        content: url(/img/square-photos/oh-mio-dio-square.png);
        }
    #inedo-square img{
        content: url(/img/square-photos/inedo-square.png);
        }
    #marovan-square img{
        content: url(/img/square-photos/marovan-square.png);
        }
    #maribel-square img{
        content: url(/img/square-photos/maribel-square.png);
        }
    #yeeba-square img{
        content: url(/img/square-photos/yeeba-square.png);
        }
    .info-branding-title h4{
        font-size: 42px;
    }
    .consulta{
        padding: 0px 0px 50px 0px;
    }
    .glide__arrow{
        position: absolute;
        display: block;
        top: 37%;
        z-index: 2;
        color: var(--color-white);
        text-transform: uppercase;
        /* padding: 9px 12px; */
        /* background-color: transparent; */
        border: 0px solid rgba(255,255,255,0.5);
        /* border-radius: 4px; */
        box-shadow: 0 0.25em 0.5em 0rgba(0,0,0,0.1);
        text-shadow: 0 0.25em 0.5emrgba(0,0,0,0.1);
        opacity: 1;
        cursor: pointer;
        transition: opacity 150ms ease, border 300ms ease-in-out;
        /* transform: translateY(-50%); */
        /* line-height: 1; */
    }
}
@media (max-width: 375px){
    .glide__arrow{
        position: absolute;
        display: block;
        top: 38%;
        z-index: 2;
        color: var(--color-white);
        text-transform: uppercase;
        /* padding: 9px 12px; */
        /* background-color: transparent; */
        border: 0px solid rgba(255,255,255,0.5);
        /* border-radius: 4px; */
        box-shadow: 0 0.25em 0.5em 0rgba(0,0,0,0.1);
        text-shadow: 0 0.25em 0.5emrgba(0,0,0,0.1);
        opacity: 1;
        cursor: pointer;
        transition: opacity 150ms ease, border 300ms ease-in-out;
        /* transform: translateY(-50%); */
        /* line-height: 1; */
    }
}
@media (max-width: 320px){
    #logo-mobile img {
        width: 19%;
        float: right;
        margin-top: -52px;
    }
    .glide__slide img {
        padding-left: 3px;
        width: 20rem;
    }
    .title-port-sub {
        margin-left: 20px;
        margin-right: 145px;
    }
    #glide-mobile-arrows{
        display: block;
    }
    .glide__arrow{
        position: absolute;
        display: block;
        top: 35%;
        z-index: 2;
        text-transform: uppercase;
        /* padding: 9px 12px; */
        background-color: transparent;
        border: 0px solid rgba(255,255,255,0.5);
        /* border-radius: 4px; */
        box-shadow: 0 0.25em 0.5em 0rgba(0,0,0,0.1);
        text-shadow: 0 0.25em 0.5emrgba(0,0,0,0.1);
        opacity: 1;
        cursor: pointer;
        transition: opacity 150ms ease, border 300ms ease-in-out;
        /* transform: translateY(-50%); */
        line-height: 1;
    }
    
    .glide__arrows{
        display: none;
    }
}