:root{
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color2: #e8e8e8;
    --color3: #f0b1d0;
}
@font-face {
    font-family: poppins-semibold;
    src: url('/fonts/poppins-semibold.ttf');
}
@font-face {
    font-family: poppins-medium;
    src: url('/fonts/poppins-medium.ttf');
}
body{
    background-color: var(--color-black);
}
#active{
    color: var(--color3);
}
::-webkit-scrollbar{
    border: 0px;
    width: 0px;
    scroll-behavior: inherit;
    scroll-behavior: initial;
    scroll-behavior: unset;
}

.navbar .navbar-nav .nav-item{
    position: relative;
}
.navbar .navbar-nav .nav-item::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: var(--color3);
    width: 0%;
    height: 2px;
}
.navbar .navbar-nav .nav-item:hover::after{
    width: 100%;
}


.content-portfolio{
    background-color: var(--color3);
}
.sub-content{
    background-color: var(--color2);
}
.sub-content-two{
    background-color: var(--color-black);
    color: var(--color2);
}

.navbar{
    background-color: var(--color-black) !important;
}
.nav-item a{
    font-family:poppins-medium;
    color: var(--color2);
}
.nav-link{
    color: var(--color-black);
    font-size:15px ;
    font-style:italic;
}
.sepa{
    padding-left: 120px;
    padding-top: 20px;
}
.sepa-one{
    padding-left: 70px;
    padding-top: 20px;
}

.navbar-brand{
    padding-top: 20px;
    padding-right: 70px;
}
.nav-link:hover{
    color: var(--color3);
    font-size:15px ;
}
.nav-link:active{
    color: var(--color3) !important;
}

.main-text-footer{
    border-top: 1px solid var(--color2);
    padding-top: 15px;
    padding-bottom: 5px;
    color: var(--color-white);
    font-family: poppins-medium;
    font-size: 15px;
}
.bi{
    float: right;
    font-size: 25px;
    padding-right: 15px;
    color: var(--color-white);
}

.bi:hover{
    color: var(--color3);
}

/* .card-wrapper{
    display: flex;
}
.card{
    width: 0rem;
    width: calc(100%/3);
}
.image-wrapper{
    height: 22vw;
} 
.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}     

 */

span{
    color:var(--color-white)
}
.carousel-inner{
    margin: 30px 100px 100px 50px;
}

.glide__slide img{
    margin: 50px 0px 150px 0px;
    width: 60rem;
}

@media(max-width:1440px){
    .glide__slide img{
        width: 43.5rem;
        padding-top:130px;
        padding-bottom: 210px;
    }
    .glide__arrows{
        display: none;
    }
}
@media(max-width:360px){
    .glide__slide img{
    width: 22.5rem;
    content: url(/img/branding.png);
    object-fit: cover;
    padding-top:0px;
    padding-bottom: 0px;
    }
}
.area-black{
    border: 1px solid purple;
}




#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}