:root{
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-smoke: #515151;
    --color2: #e8e8e8;
    --color3: #f0b1d0;
}
@font-face {
    font-family: poppins-semibold;
    src: url('/fonts/poppins-semibold.ttf');
}
@font-face {
    font-family: poppins-medium;
    src: url('/fonts/poppins-medium.ttf');
}
@font-face {
    font-family: poppins-bold;
    src: url('/fonts/poppins-bold.ttf');
}
@font-face {
    font-family: poppins-extrabolditalic;
    src: url('/fonts/poppins-extrabolditalic.ttf');
}
@font-face {
    font-family: poppins-bolditalic;
    src: url('/fonts/poppins-bolditalic.ttf');
}
body{
    background-color: var(--color-black);
}
h1{
    color: var(--color-white);
}
h4{
    font-family: poppins-bolditalic;
    color: var(--color-white);
    padding-bottom: 5px;
}
p{
    margin: 0px 0px 0px 0px;
    color: var(--color-black);
    font-weight: bold;
}
button{
    transition: 0.5s;
}
.padding{
    padding-top: 60px;
    padding-bottom: 60px;
}
.padding-2{
    padding-top: 80px;
    padding-bottom: 30px;
}
.footer-text{
    color: var(--color-white);
}

/*TEXTO ARRIBA BRANDING*/
.gif-title-branding img{
    width: 100%;
}
.info-branding-title{
    margin-top: 65px;
}
.info-branding-title h4{
    font-size: 53px;
    margin-bottom:60px;
}
.des-intro{
    font-weight: 400;
    font-size: 18   px;
    color: var(--color-white);
}
.negrita-des-intro{
    font-weight: bold;
}
#info-branding {
    margin: 220px 0px 220px 0px;
}
/*TEXTO ARRIBA BRANDING - END*/
/*TEXTO ABAJO BRANDING*/
#investigacion{
    /* margin-left: 197px;
    margin-right: 5px; */
    background-image: url(/img/images-info-branding/1.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 67%;
}
.row h2{
    padding-bottom: 40px;
}
#conclusiones{
    /* margin-right: 86px; */
    background-image: url(/img/images-info-branding/2.png);
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: 90%;
}
#implementacion{
    background-image: url(/img/images-info-branding/3.png);
    background-repeat: no-repeat;
    background-size: 32%;
    background-position: 86%;
}
#implementacion h2{
    padding-top: 38px;
}

#info-branding-three{
    background-color: var(--color-white);
}
#info-branding-three h1{
    font-family:  poppins-bold;
}
#info-branding-three h2{
    font-weight: bold;
    font-style: italic;
}
#info-branding-three p{
    font-size: 17px;
    font-weight: 400;
}
.y-brangind-three{
    color: var(--color-black);
    font-weight: lighter;
    
}
#ruta-three{
    color: var(--color-black);
}
/* .images-info{
    margin-left: 150px;
} */
.images-info img{
    margin-top: 30px;
    width: 55%;
    border-radius: 10px;
    /* box-shadow: 5px 10px 18px #888888; */
    box-shadow: 0px 0px 0px #888888, -0.1em 1px 20px #888888;

}
.images-info-mobile img{
    margin-top: 30px;
    width: 55%;
    border-radius: 10px;
    /* box-shadow: 5px 10px 18px #888888; */
    box-shadow: 0px 0px 0px #888888, -0.1em 1px 20px #888888;

}
#boton-consulta{
    padding: 6px 180px 6px 180px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 13px;
}
#boton-consulta h3{
    margin: 0px;
    color: var(--color-black);
}
#boton-consulta:hover{
    transform: scale(1.1);
}

/*TEXTO ABAJO BRANDING - END*/
.title-port{
    margin-bottom: 67px;
}
.title-port-sub{
    margin-left: 32px;
    margin-right: 700px;
    background-color: var(--color-white);
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/img/loading.gif') 50% 50% no-repeat rgb(0,0,0.5);
    opacity: .8;
}

#active{
    color: var(--color3);
}
::-webkit-scrollbar{
    border: 0px;
    width: 0px;
    scroll-behavior: inherit;
    scroll-behavior: initial;
    scroll-behavior: unset;
}

.navbar .navbar-nav .nav-item{
    position: relative;
}
.navbar .navbar-nav .nav-item::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: var(--color3);
    width: 0%;
    height: 2px;
}
.navbar .navbar-nav .nav-item:hover::after{
    width: 100%;
}

.boton-offcanvas{
    border: 0px;
    background: none;
}
.boton-offcanvas span i{
    color: var(--color-white);
}



.content-portfolio{
    background-color: var(--color3);
}
.sub-content{
    background-color: var(--color2);
}
.sub-content-two{
    background-color: var(--color-black);
    color: var(--color2);
}

.navbar{
    background-color: var(--color-black) !important;
}
.nav-item a{
    font-family:poppins-medium;
    color: var(--color2);
}
.color-a-offcanvas a{
    color: var(--color-black);
}
.nav-link{
    color: var(--color-black);
    font-size:15px ;
    font-style:italic;
}
.sepa{
    padding-left: 120px;
    padding-top: 20px;
}
.sepa-one{
    padding-left: 70px;
    padding-top: 20px;
}

.navbar-brand{
    padding-top: 20px;
    padding-right: 70px;
}
.nav-link:hover{
    color: var(--color3);
    font-size:15px ;
}
.nav-link:active{
    color: var(--color3) !important;
}

.main-text-footer{
    border-top: 1px solid var(--color2);
    padding-top: 15px;
    padding-bottom: 5px;
    color: var(--color-white);
    font-family: poppins-medium;
    font-size: 15px;
}
.bi{
    float: right;
    font-size: 25px;
    padding-right: 15px;
    color: var(--color-white);
}

.bi:hover{
    color: var(--color3);
}

/* .card-wrapper{
    display: flex;
}
.card{
    width: 0rem;
    width: calc(100%/3);
}
.image-wrapper{
    height: 22vw;
} 
.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}     

 */

span{
    color:var(--color-white)
}
.carousel-inner{
    margin: 30px 100px 100px 50px;
}

.glide__slide img{
    margin-top:50px ;
    width: 60rem;
}
.glide__arrow i{
    color: var(--color-white);
    padding-right: 0px;
}
    
    






#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.area-black{
    background-color: var(--color-black) !important;
    height: 10%;
    width: 100px;
    color: var(--color-white) !important;
    border: 2px solid var(--color-smoke) !important;
    border-radius: 0px !important;
}
.glide__arrows{
    width: 100px;
}



@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

/* =====================================
===== MODAL DE CONTANCTO DE FOOTER =====
========================================*/

.overlay {
	position: fixed;
	bottom: 0;

	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
    border-bottom:2px solid var(--color-black);
    border-left:2px solid var(--color-black);
    border-right:2px solid var(--color-black);
    margin: 0px 70px 41px 0px;
	background: #F8F8F8;
    box-shadow: 8px 8px  var(--color3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}
#contacto-modal{
    border-bottom: 2px solid var(--color-black);
    border-top:2px solid var(--color-black) ;
}

#icono-logo-modal{
    margin: 26px 38px 42px 45px;
    height: 100px;
}
.separador img{
    width: 30px;
    height: 139px;
}
.separador{
    margin-top: 10px;
    width: 30px;
}
.mensaje-input{
    padding-top: 15px;
}
#title-modal-info{
    font-family:poppins-extrabolditalic;
    padding-bottom: 10px;
}
#contacto-modal{
    padding-left: 20px;
}
.popup .btn-cerrar-popup {
    border-left: 2px solid var(--color-black);
    padding: 4px;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    display: block;
    float: right;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
    border: 0px ;
	width: 390px;
	/* margin-bottom: 20px; */
    /* margin-right: 50px; */
	height: 100px;
	font-size: 18px;
    background-color: #BBBBBB;
}
.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 0s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}