@media (max-width:2560px){
    .navbar-nav-offcanvas{
        display: none;
    }
    .offcanvar-mobile{
        display: none;
    }
}
@media only screen and (max-width:1440px){
    .all-text-mobile{
        display: block;
    }
    .all-text-web{
        display: none;
    }
    .bi-x-lg::before {
        content: "\f659";
        display: none;
    }
    #phone{
        display: none;
    }
    #main-section{
        background-size: 40%;
        background-position: 93%;
    }
    #main-section{
        background-image: none;
    }

}

@media only screen and (min-width:1440px){
    .all-text-mobile{
        display: none;
    }
    .all-text-web{
        display: block;
    }
    #phone{
        display: block;
    }
    #main-section{
        background-size: 40%;
        background-position: 93%;
    }

}
@media (max-width:1920px){
    #phone img{
        width: 75%;
    }
    #main-section{
        background-size: 30%;
        background-position: 85%;
    }
    .navbar-nav-offcanvas{
        display: none;
    }
    .offcanvar-mobile{
        display: none;
    }
}


@media (max-width:576px){
    .cont-mobile{
        text-align: center;
    }
}

@media (max-width:375px){
    .texto-mas-de .col p{
        font-size: 70px;
    }
    .texto-mas-de .col h2{
        font-size: 50px;
    }
    .texto-mas-de .col h5{
        font-size: 20px;
    }
}


/*FORM*/
@media(max-width:1024px){
    .img-form img {
        width: 55%;
        margin-top: 52%;
        margin-left: 0%;
    }


}
@media(max-width:768px){
    .img-form img {
        width: 55%;
        margin-top: 78%;
        margin-left: 0%;
    }
    #main-section{
        padding: 0px;
    }
    #title-mobile {
        padding-top: 50px;
    }
    .padding-2 {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .offcanvar-mobile{
        display: block;
    }
    .navbar-nav-offcanvas{
        display: block;
    }
    .offcanvas{
        max-width: 76%;
    }
    .offcanvas-body .sepa{
        padding: 0px;
    }
    .offcanvas-backdrop.show {
        opacity: .6;
        
    }
}
@media(max-width:530px){
    .img-form img{
        display: none;
    }

}
@media(max-width:425px){
    #formulario h1{
        padding-top: 5px;
    }
    .fourThing{
        padding-bottom: 70px;
    }

}
@media(max-width:375px){
    #formulario h1{
        padding-top: 5px;
    }
    .fourThing{
        padding-bottom: 70px;
    }
    .navbar-brand {
        padding-top: 10px;
        padding-bottom: 15px;
        padding-right: 10px;
    }
}